.container{
    background-color: var(--bg-dark);
    width: fit-content;
    max-width: 85%;
    padding: 1rem;
    overflow: auto;
    gap: 1rem;
}

.container::-webkit-scrollbar{
    background: none;
    height: 4px;
}

.container::-webkit-scrollbar-thumb{
    background-color: var(--bg-primary);
}

.card_chip{
    background-color: white;
    height: 15rem;
    min-width: 12rem;
    border-radius: 0.5rem;
    padding: 1rem;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
}

.card_chip img{
    width: 5rem;
    height: auto;
    border-radius: 50%;
}

.container section{
    gap: 1rem;
}