.container{
    margin: 5rem 0;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

@media screen and (min-width: 31.25rem) { /*500*/
    .container{
        max-width: 31.25rem;
        margin: 5rem auto;
    }
}