.container{
    margin-top: 1rem;
    background-color: var(--bg-light);
    padding: 0.5rem;
    position: relative;
}
.container img{
    width: 2rem;
    height: 2rem;
}

.comment{
    margin-top: 1rem;
    padding-left: 2rem;
}

.header{
    justify-content: space-between;
}

.edit_modal{
    position: absolute;
    top: 2rem;
    right: 2rem;
    list-style: none;
    background-color: var(--bg-dark);
    width: 10rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.edit_modal li:hover {
    cursor: pointer;
}

.comment_input{
    outline: none;
    resize: none;
    max-height: 5rem;
    width: 90%;
}

.edit_form{
    flex-direction: column;
    gap: 1rem;
}

.edit_form div{
    display: flex;
    gap: 1rem;
    justify-content: center;
}