.container{
    width: 85%;
    min-height: 28vh;
    flex-direction: column;
    background-color: var(--bg-dark);
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.header{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.container article{
    margin: 1rem 0;
    padding: 0.5rem;
}